body {
    color: white;
    background: rgb(42, 100, 173);
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 200px;
}

header {
    color: white;
    border-bottom: solid 2px red;
    padding: 20px;
    font-size: 28px;
    color: white;
    font-family: serif ;
}